body{
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 90%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}

#headerBox{
    color: white;
    font-size: 5em;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: gray;
    padding: 15px;
}
h1{
    width: 50vw;
    max-width: 700px;
    text-align: center;
    background-color: hsl(0, 0%, 70%);
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-size: 2.5em;
    margin: 5px;
}

#predictionImg{

}

#predictionContainer{
    border: solid 15px;
    border-radius: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    max-width: 700px;
    background-color: gray;
}

#predictionText{
    font-size: 7em;
}

#predictionWord{
    font-size: 3em;
}

#predictionContainer *{
    padding: 15px;
}

#canvas{
    background-color: white;
    border: solid 5px;
    border-radius: 20px;
    width: 70vw;
    max-width: 900px;
    height: 25vh;
}

#canvasContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

#btnContainer *{
    font-size: 2em;
    border-radius: 10px;
    margin: 15px;
    width: 150px;
    text-align: center;
}